doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Tarot
    link(rel='stylesheet', id='mainStylesheet' href='../css/main.styl')
  body
    #wrapper
      #card1.cardHolder
        label(for="d01")
        label(for="d02")
        label(for="d03")
        label(for="d04")
        label(for="d05")
        label(for="d06")
        label(for="d07")
        input(type="radio" class="c1" id="d01" name="card0" )
        input(type="radio" class="c2" id="d02" name="card0" )
        input(type="radio" class="c3" id="d03" name="card0" )
        input(type="radio" class="c4" id="d04" name="card0" )
        input(type="radio" class="c5" id="d05" name="card0" )
        input(type="radio" class="c6" id="d06" name="card0" )
        input(type="radio" class="c6" id="d07" name="card0" )
      #card2.cardHolder
        label(for="d11")
        label(for="d12")
        label(for="d13")
        label(for="d14")
        label(for="d15")
        label(for="d16")
        label(for="d17")
        input(type="radio" class="c1" id="d11" name="card1" )
        input(type="radio" class="c2" id="d12" name="card1" )
        input(type="radio" class="c3" id="d13" name="card1" )
        input(type="radio" class="c4" id="d14" name="card1" )
        input(type="radio" class="c5" id="d15" name="card1" )
        input(type="radio" class="c6" id="d16" name="card1" )
        input(type="radio" class="c6" id="d17" name="card1" )
      #card3.cardHolder
        label(for="d121")
        label(for="d122")
        label(for="d123")
        label(for="d124")
        label(for="d125")
        label(for="d126")
        label(for="d127")
        input(type="radio" class="c1" id="d121" name="card2" )
        input(type="radio" class="c2" id="d122" name="card2" )
        input(type="radio" class="c3" id="d123" name="card2" )
        input(type="radio" class="c4" id="d124" name="card2" )
        input(type="radio" class="c5" id="d125" name="card2" )
        input(type="radio" class="c6" id="d126" name="card2" )
        input(type="radio" class="c6" id="d127" name="card2" )
      
